
*{
border-sizing:border-box;
margin:0;
padding:0;

}
body{
position:;
display:flex;
justify-content: center;
}
.bord{
position: absolute;
background:blue;
height:500px;
width:350px;
margin: 2px;
border:2px solid black;
transition:0.2s ease;
overflow: hidden;

}
.box{
float:left;
display:flex;
align-items: center;
justify-content: center;
}
.jo{
float:left;
background:black;
}
.jo:nth-child(even){
background:white;

}
 .st{
position: absolute;
display:flex;
align-items: center;
justify-content: center;
height:40px;
width:40px;
border-radius:50%;
background:red;
margin:0;
transition:0.2s ease;
z-index:1;
}
.st:after{
content:"";
position: relative;
height:80%;
width:80%;
border-radius:50%;
transform:translate(0%,0%);
top:0%;
left:0%;
background:blue;
}
.st:nth-child(even){
background:orange;
bottom:0;
float:left;
display:flex;
right:0px;
}
.tt{
position: absolute;
font-size:60px;
top:40%;
transform:rotate(-45deg);
color:gray;
opacity:30%;
z-index:0;
}
.up{
position: absolute;
float:left;
height:inherit;
width:100%;
display:flex;
justify-content: space-around;
}

